* {
   -fx-c1: #FFFFFF; /*bila*/
   -fx-c2: #FFCC00; /*zlata*/
   -fx-c3: #990033; /*cervena*/
   -fx-c4: #CCCC99; /*seda*/
   -fx-c5:  #666633; /*tmaveseda*/
}

#scene{
	-fx-background-color:-fx-c1;
}

/*Styl hlavičky i menu*/
#TopRow{
	-fx-background-color:-fx-c4;
	-fx-font-size: 16px;
	-fx-font-family: 'Segoe UI Semibold';
}

/*Styl menu*/
#MenuDrawer{
	-fx-background-color:-fx-c4;
}


/*Hamburger*/
.jfx-hamburger StackPane {
	-fx-background-color: -fx-c1;
}
/*Hamburger při označení myší*/
.jfx-hamburger:hover StackPane {
	-fx-background-color: -fx-c2
}


/*Názvy (labely) jednotlivých komponent ve scéně */
#ComponentName{
	-fx-background-color:-fx-c1;
	-fx-font-family: 'Segoe UI Semibold';
	-fx-font-size: 18px;
	-fx-text-fill: -fx-c5;

}

/*Ohraničení list-view */
.jfx-list-view, .jfx-list-view:selected, .jfx-list-view:focused, .jfx-list-view:selected:focused{
	-fx-border-color:-fx-c1;
	-fx-focus-color: -fx-c1;
	-fx-background-color: -fx-c1;
}


.list-cell:filled:selected:focused {
	-fx-background-color: -fx-c3;
    /*-fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);*/
    -fx-text-fill: -fx-c1;
}

.list-cell { 
    -fx-background-color: -fx-c4;
    -fx-text-fill: -fx-c1;
    -fx-alignment: center;
    -fx-font-family: 'Segoe UI Semibold';
	-fx-font-size: 16px;
	-fx-padding: 2 2 2 2;
}

.list-cell:even { 
    -fx-background-color: -fx-c5;
}

.list-cell:hover {
    -fx-background-color: -fx-c2;
    -fx-text-fill: -fx-c5;
}


/*Kontextové menu */
.context-menu, .menuitem {
    -fx-background-color: -fx-c4;
    -fx-padding: 2 2 2 2;
    -fx-text-fill: -fx-c1;
}

.menu-item:hover, .menu-item:focused {
    -fx-background-color: -fx-c2;
}

.menu-item >.label {
	-fx-background-color: -fx-c4;
    -fx-text-fill: -fx-c1;
    -fx-font-size: 14px;
	-fx-font-family: 'Segoe UI Semibold';
}

.menu-item:focused > .label {
	-fx-background-color: -fx-c2;
    -fx-text-fill: -fx-c5;
}